@using WebStore.Domain.Entities.Identity
@model IEnumerable<WebStore.Domain.Entities.Employee>

<div class="container">
    <h3>Сотрудники</h3>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    
    @if(User.IsInRole(Role.Administrators))
    {
        <a class="btn btn-default" asp-action="Edit">Добавить сотрудника</a>
    }
    

    @if(Model.Any())
    {
    <table class="table">
        <thead>
            <tr>
                @if (User.IsInRole(Role.Administrators))
                {
                  <th></th>
                  <th></th>
                }
                @if (User.IsInRole(Role.Users))
                {
                  <th></th>
                }
                <th>Id</th>
                    <th>@Html.DisplayNameFor(model => model.LastName)</th>
                    <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                    <th>@Html.DisplayNameFor(model => model.Patronymic)</th>
                    <th>@Html.DisplayNameFor(model => model.Age)</th>
            </tr>
        </thead>

        <tbode>
            @foreach (var employee in Model)
            {
                <tr>
                    <td><a asp-controller="Employees" asp-action="Details" asp-route-Id="@employee.Id">Информация 
                                <i class="fa fa-id-card" aria-hidden="true"></i>
                    </a></td>
                        @if (User.IsInRole(Role.Administrators))
                        {
                            <td><a asp-controller="Employees" asp-action="Edit" asp-route-Id="@employee.Id">Редактировать</a></td>
                        }
                    <td>@employee.Id</td>
                    <td>@employee.LastName</td>
                    <td>@employee.FirstName</td>
                    <td>@employee.Patronymic</td>
                    <td>@employee.Age</td>
                    @if(User.IsInRole(Role.Administrators))
                    {
                        <td>
                          <a asp-controller="Employees" asp-action="Delete" asp-route-Id="@employee.Id">Удалить</a>
                       </td>
                    }
                </tr>
            }
        </tbode>
    </table>
    }
    else
    {
        <p>Сотрудников нет!</p>
    }

    <a asp-controller="Home" asp-action="Index">Назад в меню</a>
</div>